* {
  box-sizing: border-box;
  /* box-sizing: content-box; */
}

body {
  box-sizing: border-box;
}

div {
  border: 2px solid #ddd;
  background-color: #ddd;
  width: 300px;
  height: auto;
  padding: 20px;
}
